* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
  background-color: #f8f5f2;
}

.navbar { 
  display: flex;
  alin-items: center;
  justify-content: space-between;
  padding: 24px 8%;
  background-color: #fff;
}