* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
  background-color: #f8f5f2;
}

.navbar { 
  display: flex;
  alin-items: center;
  justify-content: space-between;
  padding: 24px 8%;
  background-color: #fff;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: #222;
  text-decoration: none;
}

.nav-links a:hover {
  color: #c96b4b;
}